@charset "UTF-8";
.cherry-markdown code[class*='language-'],
.cherry-markdown pre[class*='language-'] {
  color: #000;
  background: none;
  font-family:
    monospace,
    Menlo-Regular,
    Menlo,
    Monaco,
    Consolas,
    Courier New;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.6em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.cherry-markdown code[class*='language-']::-moz-selection,
.cherry-markdown code[class*='language-'] ::-moz-selection,
.cherry-markdown pre[class*='language-']::-moz-selection,
.cherry-markdown pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
.cherry-markdown code[class*='language-']::selection,
.cherry-markdown code[class*='language-'] ::selection,
.cherry-markdown pre[class*='language-']::selection,
.cherry-markdown pre[class*='language-'] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  .cherry-markdown code[class*='language-'],
  .cherry-markdown pre[class*='language-'] {
    text-shadow: none;
  }
}
.cherry-markdown pre[class*='language-'] {
  padding: 10px;
  margin: 0.5em 0;
  overflow: auto;
}
.cherry-markdown :not(pre) > code[class*='language-'],
.cherry-markdown pre[class*='language-'] {
  background: #f5f6f7;
}
.cherry-markdown :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.cherry-markdown .token.cdata,
.cherry-markdown .token.comment,
.cherry-markdown .token.doctype,
.cherry-markdown .token.prolog {
  color: #708090;
}
.cherry-markdown .token.punctuation {
  color: #999;
}
.cherry-markdown .token.namespace {
  opacity: 0.7;
}
.cherry-markdown .token.boolean,
.cherry-markdown .token.constant,
.cherry-markdown .token.deleted,
.cherry-markdown .token.number,
.cherry-markdown .token.property,
.cherry-markdown .token.symbol,
.cherry-markdown .token.tag {
  color: #905;
}
.cherry-markdown .token.attr-name,
.cherry-markdown .token.builtin,
.cherry-markdown .token.char,
.cherry-markdown .token.inserted,
.cherry-markdown .token.selector,
.cherry-markdown .token.string {
  color: #690;
}
.cherry-markdown .language-css .token.string,
.cherry-markdown .style .token.string,
.cherry-markdown .token.entity,
.cherry-markdown .token.operator,
.cherry-markdown .token.url {
  color: #9a6e3a;
  background: none;
}
.cherry-markdown .token.atrule,
.cherry-markdown .token.attr-value,
.cherry-markdown .token.keyword {
  color: #07a;
}
.cherry-markdown .token.class-name,
.cherry-markdown .token.function {
  color: #dd4a68;
}
.cherry-markdown .token.important,
.cherry-markdown .token.regex,
.cherry-markdown .token.variable {
  color: #e90;
}
.cherry-markdown .token.bold,
.cherry-markdown .token.important {
  font-weight: 700;
}
.cherry-markdown .token.italic {
  font-style: italic;
}
.cherry-markdown .token.entity {
  cursor: help;
}
.cherry-markdown {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    Arial,
    Segoe UI,
    PingFang SC,
    Microsoft Yahei,
    Hiragino Sans GB,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 16px;
  color: #1f2329;
  background-color: #fff;
  line-height: 1.68;
  -webkit-text-size-adjust: 100%;
  max-width: 46rem;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
}
.cherry-markdown * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cherry-markdown > :first-child,
.cherry-markdown > :last-child {
  margin-top: 0 !important;
}
.cherry-markdown blockquote,
.cherry-markdown details,
.cherry-markdown dl,
.cherry-markdown figure,
.cherry-markdown hr,
.cherry-markdown listing,
.cherry-markdown ol,
.cherry-markdown p,
.cherry-markdown plaintext,
.cherry-markdown pre,
.cherry-markdown table,
.cherry-markdown ul,
.cherry-markdown xmp {
  margin-top: 8px;
  margin-bottom: 8px;
}
.cherry-markdown h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 26px 0 10px;
}
.cherry-markdown h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 22px 0 8px;
}
.cherry-markdown h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 8px;
}
.cherry-markdown h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 8px;
}
.cherry-markdown h5,
.cherry-markdown h6 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0 8px;
}
.cherry-markdown p {
  margin-left: 0;
  margin-right: 0;
}
.cherry-markdown listing,
.cherry-markdown plaintext,
.cherry-markdown pre,
.cherry-markdown xmp {
  font-family:
    monospace,
    Menlo-Regular,
    Menlo,
    Monaco,
    Consolas,
    Courier New;
}
.cherry-markdown blockquote > :first-child {
  margin-top: 0;
}
.cherry-markdown blockquote > :last-child {
  margin-bottom: 0;
}
.cherry-markdown hr {
  border-style: inset;
  border-width: 1px;
}
.cherry-markdown img {
  max-width: 100%;
  height: auto;
}
.cherry-markdown li {
  word-wrap: break-all;
}
.cherry-markdown li + li {
  margin-top: 4px;
}
.cherry-markdown ol ol,
.cherry-markdown ol ul,
.cherry-markdown ul ol,
.cherry-markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.cherry-markdown .task-list-item {
  list-style-type: none;
}
.cherry-markdown a {
  text-decoration: underline;
}
.cherry-markdown a img {
  border: none;
}
.cherry-markdown b,
.cherry-markdown strong {
  font-weight: 700;
}
.cherry-markdown address,
.cherry-markdown cite,
.cherry-markdown dfn,
.cherry-markdown em,
.cherry-markdown i,
.cherry-markdown var {
  font-style: italic;
}
.cherry-markdown code,
.cherry-markdown kbd,
.cherry-markdown samp,
.cherry-markdown tt {
  font-family:
    monospace,
    Menlo-Regular,
    Menlo,
    Monaco,
    Consolas,
    Courier New;
}
.cherry-markdown mark {
  padding: 0.2em 0;
  background-color: rgba(255, 246, 122, 0.8);
}
.cherry-markdown del,
.cherry-markdown s {
  color: inherit;
}
.cherry-markdown table {
  color: #000;
  border-collapse: collapse;
  border-spacing: 2px;
  font-size: 1em;
}
.cherry-markdown .cherry-table td,
.cherry-markdown .cherry-table th {
  border: 1px solid #dee0e3 !important;
}
.cherry-markdown th {
  padding: 8px;
  font-size: 1em;
  font-weight: 500;
}
.cherry-markdown td {
  padding: 8px;
  font-size: 1em;
  font-weight: 400;
}
.cherry-markdown div[id^='mweb-chart-ele'] svg {
  background-color: #fff;
}
.cherry-markdown * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.cherry-markdown h1,
.cherry-markdown h2,
.cherry-markdown h3,
.cherry-markdown h4,
.cherry-markdown h5,
.cherry-markdown h6 {
  line-height: 1.4;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.37em;
}
.cherry-markdown blockquote {
  display: block;
  margin-left: 0;
  padding-left: 14px;
  border-left: 2px solid #3370ff;
  color: rgba(31, 35, 41, 0.7);
}
.cherry-markdown code {
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #dee0e3;
  background-color: #f5f6f7;
  word-spacing: normal;
  line-height: 1.6;
  padding: 0 2px;
}
.cherry-markdown pre {
  border-radius: 0;
  display: block;
  border: 1px solid #dee0e3;
  background-color: #f5f6f7;
  padding: 10px;
  font-size: 14px;
  overflow-x: auto;
}
.cherry-markdown pre code {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}
.cherry-markdown a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;
  color: #3370ff;
  text-decoration: none;
}
.cherry-markdown a:hover {
  text-decoration: underline;
}
.cherry-markdown hr {
  margin: 13px 0 12px;
  border: 0;
  height: 1px;
  background-origin: content-box;
  background-image: linear-gradient(90deg, #bbbfc4, #bbbfc4);
  background-repeat: no-repeat;
}
.cherry-markdown ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.cherry-markdown ul > li:not([class*='task-list-item']) {
  word-wrap: break-all;
  padding-left: 22px;
}
.cherry-markdown ul > li:not([class*='task-list-item']):before {
  content: '•';
  color: #3370ff;
  display: inline-block;
  margin-left: -20px;
  margin-right: 20px;
  width: 0;
  font-size: 0.8em;
  transform: scale(1.25);
  font-family:
    PingFangSC-Regular,
    PingFang SC;
}
.cherry-markdown
  ul
  > li:not([class*='task-list-item'])
  ul
  > li:not([class*='task-list-item']):before {
  content: '◦';
  transform: scale(1);
  font-weight: 700;
}
.cherry-markdown
  ul
  > li:not([class*='task-list-item'])
  ul
  > li:not([class*='task-list-item'])
  ul
  > li:not([class*='task-list-item']):before {
  content: '▪';
  transform: scale(1.25);
  font-weight: 400;
}
.cherry-markdown ol {
  counter-reset: ol_counter;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.cherry-markdown ol > li:not([class*='task-list-item']) {
  word-wrap: break-all;
  padding-left: 22px;
  position: relative;
}
.cherry-markdown ol > li:not([class*='task-list-item']):before {
  content: counter(ol_counter) '.';
  counter-increment: ol_counter;
  color: #3370ff;
  position: absolute;
  margin-left: -22px;
  margin-right: 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: visible;
  min-width: 18px;
  border-radius: 2px;
  transform: translateX(-2px);
  font-family:
    Helvetica Neue,
    Consolas;
}
.cherry-markdown li + li,
.cherry-markdown li ol,
.cherry-markdown li ul,
.cherry-markdown ol ol,
.cherry-markdown ol ul,
.cherry-markdown ul ol,
.cherry-markdown ul ul {
  margin-top: 4px;
}
.cherry-markdown .task-list-item {
  padding-left: 28px;
  margin-left: -6px;
  list-style: none;
  word-wrap: break-all;
}
.cherry-markdown .task-list-item input {
  margin: 0 !important;
  appearance: none;
  -webkit-appearance: none;
}
.cherry-markdown .task-list-item input:before {
  content: ' ';
  display: inline-block;
  position: relative;
  line-height: normal;
  font-size: 16px;
  top: 2px;
  border-radius: 2px;
  border: 1px solid #2b2f36;
  background-position: 50%;
  white-space: normal;
  width: 14px;
  height: 14px;
  margin-left: -22px;
  margin-right: 6px;
}
.cherry-markdown .task-list-item input:checked:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwLjU4OSAzLjkwM2wuODA4LjgwOGEuMzUuMzUgMCAwMTAgLjQ5NUw2LjE4IDEwLjQyNWEuMzUuMzUgMCAwMS0uNDk1IDBMMi43MDMgNy40NDRhLjM1LjM1IDAgMDEwLS40OTVsLjgwOC0uODA4YS4zNS4zNSAwIDAxLjQ5NSAwbDEuOTI1IDEuOTI0IDQuMTYzLTQuMTYzYS4zNS4zNSAwIDAxLjQ5NSAweiIgZmlsbD0iIzMzNzBGRiIvPjwvc3ZnPg==);
  background-size: contain;
}
