.no-data[data-v-71ac6125]{width:100%;height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center}.no-data .no-data-text[data-v-71ac6125]{font-size:14px;color:#999;text-align:center}
