@import './base.css';
@import 'cherry-markdown/dist/cherry-markdown.css';

#app {
  font-weight: normal;
}

a {
  cursor: pointer;
  color: #2475fc;
  text-decoration: none;
}
a:hover {
  color: #2475fc;
  outline: none;
}
.window-hidden {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* margin */
.mb-16 {
  margin-bottom: 16px !important;
}

/* padding */

/* text */
.default-text-color {
  color: #595959 !important;
}
.text_color_2475fc {
  color: #2475fc !important;
}
.text_color_ed744a {
  color: #ed744a !important;
}
.delete-text-color {
  color: #fb363f !important;
}

.custom-slider .ant-slider-track {
  background-color: #2475fc !important;
}

.custom-slider:hover .ant-slider-handle::after,
.custom-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #2475fc;
}

.custom-slider .ant-slider-handle:hover::after {
  box-shadow: 0 0 0 4px #2475fc;
}

strong {
  font-weight: bold;
}


.customize-scroll-style::-webkit-scrollbar {
  width: 6px; /*  设置纵轴（y轴）轴滚动条 */
  height: 6px; /*  设置横轴（x轴）轴滚动条 */
}

.customize-scroll-style::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}
/* 滚动条轨道 */
.customize-scroll-style::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

/* hover时显色 */
.customize-scroll-style:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.customize-scroll-style:hover::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}


.no-padding-modal .ant-modal .ant-modal-content{
  padding-right: 0;
}

.no-padding-modal .ant-modal .ant-modal-footer{
  padding-right: 24px;
}

.zm-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.zm-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  cursor: pointer;
}

.zm-line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.zm-alert-info.ant-alert-info {
  border-color: #99BFFD;
  background: #E9F1FE;
  color: #3a4559;
}

.remove-model-padding .ant-modal .ant-modal-content {
  padding: 0;
}
.zm-pointer {
  cursor: pointer;
}

.zm-link-pointer {
  cursor: pointer;
}

.zm-link-pointer:hover {
  color: #2475fc;
}


/**不显示滚动条**/
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
